* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.layoutMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header {
  background-color: #000;
  color: white;
  padding: 10px 20px;
}

footer {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
