.blogContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    flex-grow: 1;
    border: 3px solid white;
  }
  
  .blogContainer h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;

  }
  
  .blogPost {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .blogPost div {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .blogPost h1 {
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  
  .blogPost p {
    color: #555;
    padding-bottom: 20px;
  }
  